#contenidoss {
    color: #c3c3c3;
    width: 650px;
    float: left;
}
#containersS {
    width: 560px;
    padding: 10px 20px 20px 40px;
    background: url(../images/content_body.png) repeat-y;
}
.post_comedia {
    clear: both;
    width: 560px;
    margin-bottom: 45px;
}
.post_comedia iframe{
    width: 560;
    height:315;
}
#banner {
    width: 100%;
    height: 250px;
    background-size: 100% 100%;
    background: url(../images/bannerC.jpg) no-repeat center;
    background-size: 100% 100%;
}