#contenidos {
    color: #c3c3c3;
    width: 650px;
    float: left;
}
#containerss {
    width: 560px;
    padding: 10px 20px 20px 40px;
    background: url(../images/content_body.png) repeat-y;
}
#tc_topss {
    /*margin: -10px -40px;*/
    /*para mejorar*/
    width: 620px;
    height: 20px;
    background: url(../images/content_top.jpg) no-repeat;
}
.post_bos {
    clear: both;
    width: 560px;
    margin-bottom: 25px;
}
.post_bos h2{
    font-size: 33px;
    margin-bottom: 17px;
}
.post_bos p {
    color: #19e6dd;
}
.controls{
    border: solid 1px white;
    width: 50%;
    background: #24303c;
    margin-bottom: 0%;
    margin-right: 50%;
    margin-top: -2%;
    color: white;
}
.mensaje{
    border: solid 1px white;
    max-width: 70%;
    min-width: 70%;
    max-height: 35%;
    min-height: 35%;
    background: #24303c;
    margin-bottom: 0%;
    margin-right: 30%;
    margin-top: -2%;
    color: white;
}
.botons{
    border: solid 1px white;
    width: 20%;
    background: #24303c;
    margin-bottom: 0%;
    margin-right: 5%;
    margin-top: 5%;
    color: #19e6dd;

}
.botons:hover {
    cursor: pointer;
}