#contenido {
    color: #c3c3c3;
    width: 650px;
    float: left;
}
#containers {
    width: 560px;
    padding: 10px 20px 20px 40px;
    background: url(../images/content_body.png) repeat-y;
}
#tc_tops {
    /*margin: -10px -40px;*/
    /*para mejorar*/
    width: 620px;
    height: 20px;
    background: url(../images/content_top.jpg) no-repeat;
}
.post_boxs {
    clear: both;
    width: 560px;
    margin-bottom: 45px;
}
.post_boxs h2 {
    font-size: 33px;
    margin-bottom: 17px;
}
.post_boxs img {
    border-radius: 30px;
    width: 250px;
    height: 250px;
    margin-bottom: 20px;
    margin-right: 20px;
    float: left;

}
.post_boxs p {
    color: #19e6dd;
}